<div>
  <app-comp  *ngFor="let voz of vozaci; index as indeks; first as prv; last as posleden; odd as nepar;even as par;" 
  [vozac]="voz" (click)="onAppView()" 
  [indks]="indeks+1"
  [attr.aria-label]="'Driver ' + voz?.name + ', position ' + (indeks + 1) + ' of ' + vozaci.length"
  [attr.aria-describedby]="voz.details ? 'desc-' + indeks : null"
  [attr.aria-live]="voz.hasUpdates ? 'polite' : null"
  role="listitem"
  [class.is-first]="prv"
  [class.is-last]="posleden"
  [class.is-even]="par"
  [class.is-odd]="nepar">
</app-comp>                    <!-- Go vleci tekstot (kodot) od deteto, vo slucajov comp-->
</div>